@import "katex/dist/katex.min.css";

.vp-pseudocode {
  margin: 1.25rem 0;
  overflow-x: auto;
}

.vp-pseudocode .ps-root {
  font-family: KaTeX_Main, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased !important;
  color: var(--vp-c-text-1);
}

.vp-pseudocode .ps-algorithm {
  margin: 0.8em 0;
  border-top: 3px solid var(--vp-c-text-1);
  border-bottom: 2px solid var(--vp-c-text-1);
}

.vp-pseudocode .ps-algorithm.with-caption > .ps-line:first-child {
  border-bottom: 2px solid var(--vp-c-text-1);
}

.vp-pseudocode .katex,
.vp-pseudocode .MathJax,
.vp-pseudocode .MathJax_CHTML {
  text-indent: 0;
  font-size: 1em !important;
}

.vp-pseudocode .ps-line {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.vp-pseudocode .ps-funcname,
.vp-pseudocode .ps-keyword,
.vp-pseudocode .ps-comment {
  font-family: KaTeX_Main, "Times New Roman", Times, serif;
  font-style: normal;
  text-transform: none;
}

.vp-pseudocode .ps-funcname {
  font-weight: 400;
  font-variant: small-caps;
}

.vp-pseudocode .ps-keyword {
  font-weight: 700;
}

.vp-pseudocode .ps-comment {
  font-weight: 400;
}

.vp-pseudocode .ps-linenum {
  font-size: 0.8em;
  line-height: 1em;
  width: 1.6em;
  text-align: right;
  display: inline-block;
  position: relative;
  padding-right: 0.3em;
  color: var(--vp-c-text-2);
}

.vp-pseudocode .ps-algorithmic.with-linenum .ps-line.ps-code {
  text-indent: -1.6em;
}

.vp-pseudocode .ps-algorithmic.with-linenum .ps-line.ps-code > span {
  text-indent: 0;
}

.vp-pseudocode .ps-algorithmic.with-scopelines div.ps-block {
  border-left-style: solid;
  border-left-width: 0.1em;
  padding-left: 0.6em;
}

.vp-pseudocode .ps-algorithmic.with-scopelines > div.ps-block {
  border-left: none;
}
